.staff-row{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 38px;
}

.staffer {
  display: flex;
  margin: $sp-5 0;

  .staffer-image {
    border-radius: 100%;
    height: 100px;
    margin-right: $sp-2;
    width: auto;

    // border: 1px solid silver;
    //   padding: 2px;
    //   margin: 0em 0.8em 0.8em 0.8em;
  }

  p,
  .staffer-name {
    margin: $sp-1 !important;
  }

  .staffer-pronouns {
    @extend .label, .text-grey-dk-100, .bg-grey-lt-200;

    user-select: none;
  }

  .staffer-meta {
    @extend .text-grey-dk-000;
  }
}
