$eecs-purple:rgba(102, 45, 145, 1);
$eecs-purple-000: rgba(102, 45, 145, 1);
$eecs-purple-100: rgba(102, 45, 145, 1);
$eecs-purple-200: rgba(102, 45, 145, 1);
$eecs-purple-300: rgba(102, 45, 145, 1);

$eecs-blue: rgba(0, 161, 199, 1);
$eecs-blue-000: rgba(0, 161, 199, 1);
$eecs-blue-100: rgba(0, 161, 199, 1);
$eecs-blue-200: rgba(0, 161, 199, 1);
$eecs-blue-300: rgba(0, 161, 199, 1);

$eecs-red: rgba(198, 22, 141, 1);
$eecs-red-000: rgba(198, 22, 141, 1);
$eecs-red-100: rgba(198, 22, 141, 1);
$eecs-red-200: rgba(198, 22, 141, 1);
$eecs-red-300: rgba(198, 22, 141, 1);

$mit-gray: #C2C0BF;
$mit-gray-000: #8A8B8C;
$mit-gray-100: #8A8B8C;
$mit-gray-200: #8A8B8C;
$mit-gray-300: #8A8B8C;

// credit to adam
$eecs-gradient: linear-gradient(90deg, rgba(198, 22, 141, 1) 0%, rgba(102, 45, 145, 1) 50%, rgba(0, 161, 199, 1) 100%);