<link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/assets/images/favicon.png">

<!-- CSS -->
<link rel="stylesheet" href="/assets/js/katex.min.css" />

<!-- JavaScript -->
<script defer src="/assets/js/katex.min.js"></script>
<script defer src="/assets/js/auto-render.min.js" onload="renderMathInElement(document.body,{
      delimiters: [
        { left: '$$',  right: '$$',  display: true  },
        { left: '$',   right: '$',   display: false },
        { left: '\\[', right: '\\]', display: true  },
        { left: '\\(', right: '\\)', display: false }
    ]
  }
  );">
  </script>


<script src="https://hypothes.is/embed.js" async></script>